server:
  port: 8000
  error:
    include-message: always
  servlet:
    context-path: /white-rabbit

spring:
  application:
    name: White Rabbit
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:postgresql://${PG__HOST}:${PG__PORT}/${PG__DB_NAME}?currentSchema=white_rabbit
    username: ${PG_ADMIN_USER}
    password: ${PG_ADMIN_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: white_rabbit
    hibernate:
      ddl-auto: update
    show-sql: false

files-manager-url: http://${PERSEUS__FILES_MANAGER_HOST}:10500/files-manager

fake-data-db:
  db-type: PostgreSQL
  server: ${PG__DB_NAME}
  port: ${PG__PORT}
  database: source
  user: ${PG_ADMIN_USER}
  password: ${PG_ADMIN_PASSWORD}